
.flower {
  content: url('./img/meadow/flower.gif');
}

.flower:hover {
  content: url('./img/meadow/flower-crush.png');
}

.bip {
  content: url('./img/meadow/bip.gif')
}

.bip:hover {
  content:url('./img/meadow/bip-hover.gif')
}

.bip:active {
  content:url('./img/meadow/bip-hover.gif')
}

.rocket {
  content:url('./img/meadow/rocket.gif')
}
