
.flower {
  content: url('flower.gif');
}

.flower:hover {
  content: url('flower-crush.png');
}

.bip {
  content: url('bip.gif')
}

.bip:hover {
  content:url('bip-hover.gif')
}

.bip:active {
  content:url('bip-hover.gif')
}

.rocket {
  content:url('rocket.gif')
}
